@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<style>


    body {
        background-color: #cbf3f0;
    }
</style>
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
